main {
  display: flex;
  /* column : 가로로 배치를 새로로 재배치 */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(129, 131, 132);
  width: 60px;
  height: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 40px;
  height: 60px;
  background-color: gray;
  color: white;
}

.enter {
  font-size: small;
}

.backspace img {
  width: 30px;
}
